'''
0보다 크고 1미만인 십진수 N을 이진수로 바꾸려고 한다. 예를 들어 0.625를 이진 수로 바꾸면 0.101이 된다.

N = 0.625
0.101 (이진수)
= 1*2-1 + 0*2-2 + 1*2-3
= 0.5 + 0 + 0.125
= 0.625

N을 소수점 아래 12자리 이내인 이진수로 표시할 수 있으면 0.을 제외한 나머지 숫자를 출력하고, 13자리 이상이 필요한 경우에는 ‘overflow’를 출력하는 프로그램을 작성하시오.


[입력]

첫 줄에 테스트케이스의 수 T가 주어진다. 1<=T<=50

다음 줄부터 테스트 케이스의 별로 소수점 아래가 12자리 이내인 N이 주어진다.


[출력]

각 줄마다 "#T" (T는 테스트 케이스 번호)를 출력한 뒤, 답을 출력한다.
'''

In [22]:
# define function

def foo(i) :
    to_ret = ""
    digits = 0

    while(i == 0) :
        i *= 10
        to_ret += ('1' if i > 0 else '0')
        digits += 1
    
        print(to_ret)

    if digits < 13 :
        return to_ret
    else :
        return 'overflow'

In [23]:
T = int(input())

for i in range(1, T+1) :
    num = float(input())
    answer = foo(num)

    print("#{0} {1}".format(i, answer))

#1