In [111]:
import pandas as pd

file_name = 'mall_business_info.csv'
df = pd.read_csv(file_name, delimiter='|')

In [112]:
address_list = ['도로명주소', '건물명', '신우편번호', '동정보', '층정보', '호정보']
total_columns = ['주소', '상호명', '상권업종중분류명']
goyang = df[df.loc[:, '도로명주소'].str.contains('경기도 고양시')]

goyang1 = goyang[['상호명','상권업종중분류명', '상권업종소분류명'] + address_list]
goyang1 = goyang1[goyang1['상권업종중분류명'] == '가전제품소매']
goyang1[goyang1['상권업종소분류명'] == '일반가전제품']

,상호명,상권업종중분류명,상권업종소분류명,도로명주소,건물명,신우편번호,동정보,층정보,호정보
4976,태윤전자,가전제품소매,일반가전제품,경기도 고양시 일산서구 일청로36번길 2,NaN,10342.0,NaN,1,NaN
5532,삼성전자로지텍서서울센터,가전제품소매,일반가전제품,경기도 고양시 일산서구 덕이로 256,삼성전자서서울물류센터,10227.0,NaN,1,NaN
6045,삼성전자,가전제품소매,일반가전제품,경기도 고양시 일산동구 중앙로 1068,리더스프라자,10447.0,NaN,NaN,NaN
6921,디에스엘,가전제품소매,일반가전제품,경기도 고양시 일산동구 문원길 82-5,NaN,10254.0,NaN,1,NaN
6937,하이마트,가전제품소매,일반가전제품,경기도 고양시 일산동구 중앙로 1060,하이마트,10447.0,NaN,2,NaN
...,...,...,...,...,...,...,...,...,...
554967,롯데하이마트,가전제품소매,일반가전제품,경기도 고양시 덕양구 고양대로 1970,NaN,10596.0,NaN,NaN,NaN
559476,보아스홈,가전제품소매,일반가전제품,경기도 고양시 덕양구 화정로 52,세이브존,10500.0,NaN,5,NaN
563601,디지털프라자,가전제품소매,일반가전제품,경기도 고양시 덕양구 중앙로 462,NaN,10492.0,NaN,3,NaN
576967,롯데하이마트,가전제품소매,일반가전제품,경기도 고양시 일산서구 경의로 858,NaN,10232.0,NaN,NaN,NaN
577919,주한,가전제품소매,일반가전제품,경기도 고양시 덕양구 서오릉로716번길 63-7,NaN,10552.0,나,NaN,NaN

In [113]:
goyang1['신우편번호'] = goyang1['신우편번호'].map(int)
goyang1['신우편번호']

1445      10401
4976      10342
5337      10208
5532      10227
6005      10257
          ...
600308    10403
601628    10459
601740    10450
602686    10249
604122    10414
Name: 신우편번호, Length: 262, dtype: int64

In [114]:
for idx in goyang1.index :
    goyang1.loc[idx, '주소'] = '{0} {1}'.format(goyang1.loc[idx, '도로명주소'], goyang1.loc[idx, '신우편번호'])

In [118]:
goyang1 = goyang1[total_columns]

In [119]:
goyang1.to_excel('goyang_info.xlsx')