In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.close('all')

In [32]:
df = pd.read_excel('data.xlsx')
df

    대중교통구분    노선명      년월   승차총승객수
0      지하철    1호선  201711  8633618
1      지하철    1호선  201712  8737235
2      지하철    1호선  201801  8145989
3      지하철    1호선  201802  7273309
4      지하철    1호선  201803  8692551
..     ...    ...     ...      ...
596    지하철  우이신설선  201901  1263643
597    지하철  우이신설선  201902  1102109
598    지하철  우이신설선  201903  1402393
599    지하철  우이신설선  201904  1403115
600    지하철  우이신설선  201905  1469681

[601 rows x 4 columns]

In [33]:
# 1호선만 빼와서 다시 저장

line_1 = df[df['노선명'] == '1호선']
line_1

   대중교통구분  노선명      년월   승차총승객수
0     지하철  1호선  201711  8633618
1     지하철  1호선  201712  8737235
2     지하철  1호선  201801  8145989
3     지하철  1호선  201802  7273309
4     지하철  1호선  201803  8692551
5     지하철  1호선  201804  8275767
6     지하철  1호선  201805  8543247
7     지하철  1호선  201806  7972991
8     지하철  1호선  201807  8150061
9     지하철  1호선  201808  7930624
10    지하철  1호선  201809  7876712
11    지하철  1호선  201810  8783242
12    지하철  1호선  201811  8692924
13    지하철  1호선  201812  8686311
14    지하철  1호선  201901  8591419
15    지하철  1호선  201902  7356277
16    지하철  1호선  201903  8684841
17    지하철  1호선  201904  8594542
18    지하철  1호선  201905  8848275

In [34]:
# 지하철 노선도의 종류
line_type = list(set(df['노선명']))
line_type

['경의선',
 '경기철도',
 '경인선',
 '용인에버라인',
 '인천1호선',
 '신분당선',
 '일산선',
 '1호선',
 '안산선',
 '9호선',
 '경원선',
 '과천선',
 '경춘선',
 '수인선',
 '경강선',
 '2호선',
 '서해선',
 '3호선',
 '중앙선',
 '장항선',
 '우이신설선',
 '5호선',
 '경부선',
 '인천2호선',
 '8호선',
 '7호선',
 '9호선2~3단계',
 '4호선',
 '의정부경전철',
 '공항철도 1호선',
 '6호선',
 '분당선']

In [38]:
# line을 기준으로 index를 시간으로 하여 새로운 df생성

# start   : 시작 일시
# periods : 몇 개 만들건데
# freq    : 무슨 기준?
# freq = 'MS' == monthly srart

dates = pd.date_range(start='2017-11', periods=19, freq='MS')

In [42]:
# 년, 월 별로 때어오고 싶어 
dates.year

pandas.core.indexes.numeric.Int64Index

In [37]:
# dir(pd.timeStamp) 를 실행하여 attribute를 확인하였더니
# month와 year가 있었다.